.gunman.gunman_type_5 {
  width: 32px;
  height: 70px;
  background-position: 0 -295px;
}
.gunman_type_5.gunman_state_ready {
  background-position: 0 -295px;
}
.gunman_type_5.gunman_state_fire {
  width: 30px;
  margin-left: 1px;
  background-position: -100px -295px;
}
.gunman_type_5.gunman_state_walk {
  animation: gunman-5-walk 0.3s steps(2) infinite;
}
.gunman_type_5.gunman_state_die {
  animation: gunman-1-die 1s steps(1), gunman-1-fly 1s ease-out;
  background-position: -260px -295px;
}
.gunman_type_5.gunman_state_die:after {
  content: ' ';
  display: block;
  position: absolute;
  background: url("../gunman.png") -294px -352px;
  animation: gunman-5-hat-fly 1s linear;
  width: 20px;
  height: 13px;
  top: 50px;
  left: 6px;
}
.gunman_type_5.gunman_state_win,
.gunman_type_5.gunman_state_foul {
  margin-left: 1px;
  width: 30px;
  animation: gunman-5-win 1s steps(2) infinite;
}
@-moz-keyframes gunman-5-walk {
  from {
    background-position: -34px -295px;
  }
  to {
    background-position: -102px -295px;
  }
}
@-webkit-keyframes gunman-5-walk {
  from {
    background-position: -34px -295px;
  }
  to {
    background-position: -102px -295px;
  }
}
@-o-keyframes gunman-5-walk {
  from {
    background-position: -34px -295px;
  }
  to {
    background-position: -102px -295px;
  }
}
@keyframes gunman-5-walk {
  from {
    background-position: -34px -295px;
  }
  to {
    background-position: -102px -295px;
  }
}
@-moz-keyframes gunman-5-win {
  from {
    background-position: -131px -295px;
  }
  to {
    background-position: -193px -295px;
  }
}
@-webkit-keyframes gunman-5-win {
  from {
    background-position: -131px -295px;
  }
  to {
    background-position: -193px -295px;
  }
}
@-o-keyframes gunman-5-win {
  from {
    background-position: -131px -295px;
  }
  to {
    background-position: -193px -295px;
  }
}
@keyframes gunman-5-win {
  from {
    background-position: -131px -295px;
  }
  to {
    background-position: -193px -295px;
  }
}
@-moz-keyframes gunman-5--die {
  0% {
    background-position: -194px 0;
  }
  5% {
    background-position: -226px 0;
  }
  80% {
    background-position: -226px 0;
  }
  to {
    background-position: -260px 0;
  }
}
@-webkit-keyframes gunman-5--die {
  0% {
    background-position: -194px 0;
  }
  5% {
    background-position: -226px 0;
  }
  80% {
    background-position: -226px 0;
  }
  to {
    background-position: -260px 0;
  }
}
@-o-keyframes gunman-5--die {
  0% {
    background-position: -194px 0;
  }
  5% {
    background-position: -226px 0;
  }
  80% {
    background-position: -226px 0;
  }
  to {
    background-position: -260px 0;
  }
}
@keyframes gunman-5--die {
  0% {
    background-position: -194px 0;
  }
  5% {
    background-position: -226px 0;
  }
  80% {
    background-position: -226px 0;
  }
  to {
    background-position: -260px 0;
  }
}
@-moz-keyframes gunman-5-fly {
  0% {
    bottom: 30%;
  }
  70% {
    bottom: 45%;
  }
  100% {
    bottom: 30%;
  }
}
@-webkit-keyframes gunman-5-fly {
  0% {
    bottom: 30%;
  }
  70% {
    bottom: 45%;
  }
  100% {
    bottom: 30%;
  }
}
@-o-keyframes gunman-5-fly {
  0% {
    bottom: 30%;
  }
  70% {
    bottom: 45%;
  }
  100% {
    bottom: 30%;
  }
}
@keyframes gunman-5-fly {
  0% {
    bottom: 30%;
  }
  70% {
    bottom: 45%;
  }
  100% {
    bottom: 30%;
  }
}
@-moz-keyframes gunman-5-hat-fly {
  0% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 50px;
  }
}
@-webkit-keyframes gunman-5-hat-fly {
  0% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 50px;
  }
}
@-o-keyframes gunman-5-hat-fly {
  0% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 50px;
  }
}
@keyframes gunman-5-hat-fly {
  0% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 50px;
  }
}
